@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}


@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

// overide style for react component
.yt-lite {
  border: 16px solid #009698;
  border-radius: 48px;
  margin-left: auto;
  margin-right: auto;
}

.yt-lite::after {
  background: var(--background) no-repeat center center;
  background-size: cover;
}
